body {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 217, 255);
}

img {
    width: 51.5%;
    height: 91.3%;
    position: absolute;
    top: 25.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

h2 {
    font-size: 27.5px;
}

h3 {
    font-size: 32px;
}

#instructions {
   text-align: center;
   margin-left: 20%;
   margin-right: 20%;
}

.navbar-text {
    float: right;
}

#login {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 150, 0);
    border-style: solid;
    border-radius: 30px;
    margin-left: 40%;
    margin-right: 40%;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.log {
    color: rgb(0, 255, 0);
}

.is-active {
    color: rgb(255, 0, 0);
}

.not-active {
    color: rgb(255, 255, 0);
}

#stats {
    color: rgb(255, 255, 0);
}

#game {
    color: rgb(255, 0, 0);
}

#selection {
   text-align: center;
}

#simple {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 0);
    border-style: solid;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: sans-serif;
    font-size: 25px;
}

#medium {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 0);
    border-style: ridge;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: serif;
    font-size: 25px;
}

#realistic {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 0);
    border-style: inset;
    border-radius: 12px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
}

.dot {
    /*position: absolute;*/
    height: 2.7%;
    width: 1.3%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

.y1 {
    position: absolute;
    background-color: rgb(255, 255, 0);
    top: 33.6%;
    left: 37.3%;
}

.y2 {
    position: absolute;
    background-color: rgb(255, 255, 0);
    top: 33.6%;
    left: 38.9%;
}

.y3 {
    position: absolute;
    background-color: rgb(255, 255, 0);
    top: 36.8%;
    left: 37.3%;
}

.y4 {
    position: absolute;
    background-color: rgb(255, 255, 0);
    top: 36.8%;
    left: 38.9%;
}

.g1 {
    position: absolute;
    background-color: rgb(2, 158, 56);
    top: 48.2%;
    left: 68.0%;
}

.g2 {
    position: absolute;
    background-color: rgb(2, 158, 56);
    top: 48.2%;
    left: 69.6%;
}

.g3 {
    position: absolute;
    background-color: rgb(2, 158, 56);
    top: 51.4%;
    left: 68%;
}

.g4 {
    position: absolute;
    background-color: rgb(2, 158, 56);
    top: 51.4%;
    left: 69.6%;
}

.b1 {
    position: absolute;
    background-color: rgb(20, 176, 227);
    top: 88.3%;
    left: 28.9%;
}

.b2 {
    position: absolute;
    background-color: rgb(20, 176, 227);
    top: 88.3%;
    left: 30.4%;
}

.b3 {
    position: absolute;
    background-color: rgb(20, 176, 227);
    top: 91.5%;
    left: 28.9%;
}

.b4 {
    position: absolute;
    background-color: rgb(20, 176, 227);
    top: 91.5%;
    left: 30.4%;
}

.r1 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    top: 102.4%;
    left: 59.8%;
}

.r2 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    top: 102.4%;
    left: 61.4%;
}

.r3 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    top: 105.6%;
    left: 59.8%;
}

.r4 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    top: 105.6%;
    left: 61.4%;
}

#cardDraw {
    padding: 30px;
    font-size: 30px;
    border-radius: 15%;
    position: absolute;
    background-color: rgb(128, 255, 0);
    color: rgb(255, 0, 255);
    border: 3px solid rgb(255, 0, 255);
    top: 66.1%;
    left: 44.75%;
}

#startGame {
    padding: 30px;
    font-size: 30px;
    border-radius: 15%;
    position: absolute;
    background-color: rgb(128, 255, 0);
    color: rgb(255, 0, 255);
    border: 3px solid rgb(255, 0, 255);
    top: 66.1%;
    left: 44.75%;
}

.drawnCard {
    text-align: center;
    position: absolute;
    color: red;
    top: 450px;
    left: 40%;
    right: 40%;
}

#gameInstructions {
    text-align: center;
    position: absolute;
    color: red;
    top: 750px;
    left: 40%;
    right: 40%;
}

.square {
    height: 4.9%;
    width: 2.6%;
    display: inline-block;
}

.circle {
    height: 4.9%;
    width: 2.6%;
    border-radius: 50%;
    display: inline-block;
}



.ySlide1 {
    position: absolute;
    background-color: rgb(255, 255, 0);
    background-image: linear-gradient(rgb(46, 194, 0) 33%, rgb(255, 0, 0) 33%, rgb(255, 0, 0) 66%, rgb(0, 162, 255) 66%, rgb(0, 162, 255) 100%);
    top: 26.0%;
    left: 27.8%;
}

.ySlide2 {
    position: absolute;
    background-color: rgb(255, 255, 0);
    background-image: linear-gradient(rgb(46, 194, 0) 33%, rgb(255, 0, 0) 33%, rgb(255, 0, 0) 66%, rgb(0, 162, 255) 66%, rgb(0, 162, 255) 100%);
    top: 26.0%;
    left: 53.5%;
}

.yEnd1 {
    position: absolute;
    background-color: rgb(255, 255, 0);
    background-image: radial-gradient(circle, rgb(46, 194, 0) 20%, rgb(255, 0, 0) 20%, rgb(255, 0, 0) 50%, rgb(0, 162, 255) 50%, rgb(0, 162, 255) 100%);
    top: 26.0%;
    left: 37.4%;
}

.yEnd2 {
    position: absolute;
    background-color: rgb(255, 255, 0);
    background-image: radial-gradient(circle, rgb(46, 194, 0) 20%, rgb(255, 0, 0) 20%, rgb(255, 0, 0) 50%, rgb(0, 162, 255) 50%, rgb(0, 162, 255) 100%);
    top: 26.0%;
    left: 66.4%;
}

.gSlide1 {
    position: absolute;
    background-color: rgb(0, 255, 0);
    background-image: linear-gradient(to right, rgb(255, 255, 0) 33%, rgb(0, 162, 255) 33%, rgb(0, 162, 255) 66%, rgb(255, 0, 0) 66%, rgb(255, 0, 0) 100%);
    top: 31.7%;
    left: 72.8%;
}

.gSlide2 {
    position: absolute;
    background-color: rgb(0, 255, 0);
    background-image: linear-gradient(to right, rgb(255, 255, 0) 33%, rgb(0, 162, 255) 33%, rgb(0, 162, 255) 66%, rgb(255, 0, 0) 66%, rgb(255, 0, 0) 100%);
    top: 77.3%;
    left: 72.8%;
}

.gEnd1 {
    position: absolute;
    background-color: rgb(0, 255, 0);
    background-image: radial-gradient(rgb(255, 0, 0) 20%, rgb(0, 162, 255) 20%, rgb(0, 162, 255) 50%, rgb(255, 255, 0) 50%, rgb(255, 255, 0) 100%);
    top: 48.9%;
    left: 72.8%;
}

.gEnd2 {
    position: absolute;
    background-color: rgb(0, 255, 0);
    background-image: radial-gradient(rgb(255, 0, 0) 20%, rgb(0, 162, 255) 20%, rgb(0, 162, 255) 50%, rgb(255, 255, 0) 50%, rgb(255, 255, 0) 100%);
    top: 100.1%;
    left: 72.8%;
}

.rSlide1 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    background-image: linear-gradient(rgb(46, 194, 0) 33%, rgb(255, 255, 0) 33%, rgb(255, 255, 0) 66%, rgb(0, 162, 255) 66%, rgb(0, 162, 255) 100%);
    top: 111.6%;
    left: 69.6%;
}

.rSlide2 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    background-image: linear-gradient(rgb(46, 194, 0) 33%, rgb(255, 255, 0) 33%, rgb(255, 255, 0) 66%, rgb(0, 162, 255) 66%, rgb(0, 162, 255) 100%);
    top: 111.6%;
    left: 43.9%;
}

.rEnd1 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    background-image: radial-gradient(rgb(0, 162, 255) 20%, rgb(255, 255, 0) 20%, rgb(255, 255, 0) 50%, rgb(46, 194, 0) 50%, rgb(46, 194, 0) 100%);
    top: 111.6%;
    left: 60.0%;
}

.rEnd2 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    background-image: radial-gradient(rgb(0, 162, 255) 20%, rgb(255, 255, 0) 20%, rgb(255, 255, 0) 50%, rgb(46, 194, 0) 50%, rgb(46, 194, 0) 100%);
    top: 111.6%;
    left: 31.0%;
}

.bSlide1 {
    position: absolute;
    background-color: rgb(0, 0, 255);
    background-image: linear-gradient(to right, rgb(255, 255, 0) 33%, rgb(46, 194, 0) 33%, rgb(46, 194, 0) 66%, rgb(255, 0, 0) 66%, rgb(255, 0, 0) 100%);
    top: 105.8%;
    left: 24.5%;
}

.bSlide2 {
    position: absolute;
    background-color: rgb(0, 0, 255);
    background-image: linear-gradient(to right, rgb(255, 255, 0) 33%, rgb(46, 194, 0) 33%, rgb(46, 194, 0) 66%, rgb(255, 0, 0) 66%, rgb(255, 0, 0) 100%);
    top: 60.2%;
    left: 24.5%;
}

.bEnd1 {
    position: absolute;
    background-color: rgb(0, 0, 255);
    background-image: radial-gradient(rgb(255, 255, 0) 20%, rgb(46, 194, 0) 20%, rgb(46, 194, 0) 50%, rgb(255, 0, 0) 50%, rgb(255, 0, 0) 100%);
    top: 88.7%;
    left: 24.5%;
}

.bEnd2 {
    position: absolute;
    background-color: rgb(0, 0, 255);
    background-image: radial-gradient(rgb(255, 255, 0) 20%, rgb(46, 194, 0) 20%, rgb(46, 194, 0) 50%, rgb(255, 0, 0) 50%, rgb(255, 0, 0) 100%);
    top: 37.4%;
    left: 24.5%;
}

.line {
    height: 1.0%;
    width: 10.5%;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}

/*923 vertical*/
/*1903 horizontal*/

.yLine1 {
    position: absolute;
    top: 27.9%;
    left: 27.8%;
}

.yLine2 {
    position: absolute;
    top: 27.9%;
    left: 55.9%;
}

.gLine1 {
    position: absolute;
    top: 42.0%;
    left: 68.9%;
    rotate: 90deg;
}

.gLine2 {
    position: absolute;
    top: 88.9%;
    left: 68.8%;
    rotate: 90deg;
}

.rLine1 {
    position: absolute;
    top: 113.4%;
    left: 61.5%;
}

.rLine2 {
    position: absolute;
    top: 113.4%;
    left: 33.5%;
}

.bLine1 {
    position: absolute;
    top: 99.1%;
    left: 20.6%;
    rotate: 90deg;
}

.bLine2 {
    position: absolute;
    top: 49.6%;
    left: 20.6%;
    rotate: 90deg;
}