{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

  <h1>Home</h1>

  <p>Welcome to digital Sorry!</p>
  <div id="login">
{% if logged_in %}
{% endif %}
  {% if logged_in %}
  <a href="/logout">Logout</a>
  {% else %}
  <a href="/login">Login</a>
  {% endif %}
</div>
<br>
<div  id="instructions">
<h1>Instructions:</h1>
<p>*We didn't make the game lol just the website.*</p>
<p>OBJECTIVE OF SORRY!:<br> Be the first player to get all four of your pawns from the color corresponding START space to HOME.</p>
<p>NUMBER OF PLAYERS:<br> 2-4 Players</p>
<p>MATERIALS:<br> game board, 16 pawns (4 of each of the 4 colors), deck of cards (without 6’s or 9’s)</p>
<h2>SET UP FOR SORRY!</h2>
<p>EACH PLAYER PICKS A COLOR:<br> choose the four corresponding pawns and place them at the start of the same color. Shuffle the deck of cards after removing the sixes and nines and place the deck face down on “Place Pack Here,” this is the draw pile. Pick a player to start the game (highest card draw, youngest player, etc.) Play moves to the left. Pawns move around the board clockwise in Sorry!</p>
<h2>HOW TO PLAY SORRY!</h2>
<p>STARTING THE PAWNS:<br> To begin moving your pawns from the START you must draw from the deck either a 1 or a 2. If you draw a 1, move your pawn out of the start and place it on the space below marked with a circle. If you draw a 2, move a pawn to the circle and draw again. These are the only cards that can start a pawn. If you do not draw either a 1 or 2, place card in the discard pile and you lose your turn. Pick cards by drawing the top card of the Draw Pile and moving, if possible, the respective amount of spaces. Dispose of cards in the Discard Here Pile.</p>
<p>MOVING THE PAWNS:<br> Two pawns may not occupy the same space on the board therefore, pawns are allowed to jump and bump other pawns. If a pawn is located in your path, and you have a sufficient number of moves, you may jump over that pawn. However, if you land on the same space as another pawn you can bump it back to its start.</p>
<p>*Note: Two pawns of the same color are not premised to occupy the same space. If your move gives you no option other than landing on a space you already occupy, you lose your turn.</p>
<p>Pawns may also move backward if a 4 or a 10 card is drawn. If your pawn has been moved at least 2 spaces behind your START, on your following turn you can move into your SAFETY ZONE without having to move across the board.</p>
<p>If you land exactly on a space with a triangle, no matter which card you drew, you can slide along the marked spaces until the end. You may only slide on triangles that are not your own color. While sliding you may also bump pawns in your path back to their start. If you land on a triangle of your own color- do not slide, just stay on the triangle.</p>
<p>*Note: You must always move if you can, even if it puts you at a disadvantage. If the Draw Pile runs dry, shuffle the Discard Pile and reuse it.</p>
<p>SAFETY ZONE:<br> Safety Zones resemble slide zones but are larger, at the end of which is HOME. You can only enter the Safety Zone which corresponds to the color of your pawns/START space. Normal rules apply within the Safety Zone. You may not enter the Safety Zone through a direct backward move, however, you can move backward out of the Safety Zone if the card instructs. That pawn has the opportunity to move back into the zone on the following turn.</p>
<p>WINNING THE GAME:<br> Be the first player to get all four of their pawns to their color corresponding HOME space to win. If you wish to play again, the winner may have first turn.</p>
<p>LOSERS GET SACRIFICED.</p>
</div>


{% endblock %}
