{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}
<script src="static/final.js"></script>
<div id="game">
  <h1>Game</h1>

    
{% if logged_in %}
{% endif %}
  {% if logged_in %}
  <div id="selection">
    <h1>Sorry!</h1>
    <!--<button type="button" onClick="simpleButton" id="simple">Simple</button>
    <button type="button" onClick="mediumButton" id="medium">Medium</button>
    <button type="button" onClick="realButton" id="realistic">Realistic</button>-->
    <br><br>
  </div>
  <img src="static/SorryBoard1.jpg" alt="Game Board">
  <div id="nonMoving">
    <span class="line yLine1"></span>
    <span class="line yLine2"></span>
    <span class="line gLine1"></span>
    <span class="line gLine2"></span>
    <span class="line rLine1"></span>
    <span class="line rLine2"></span>
    <span class="line bLine1"></span>
    <span class="line bLine2"></span>
    <span class="square ySlide1"></span>
    <span class="square ySlide2"></span>
    <span class="circle yEnd1"></span>
    <span class="circle yEnd2"></span>
    <span class="square gSlide1"></span>
    <span class="square gSlide2"></span>
    <span class="circle gEnd1"></span>
    <span class="circle gEnd2"></span>
    <span class="square rSlide1"></span>
    <span class="square rSlide2"></span>
    <span class="circle rEnd1"></span>
    <span class="circle rEnd2"></span>
    <span class="square bSlide1"></span>
    <span class="square bSlide2"></span>
    <span class="circle bEnd1"></span>
    <span class="circle bEnd2"></span>
    <button type="button" id="cardDraw">Draw Card</button>
    <button type="button" id="startGame">Start Game</button>
    <h1 class="drawnCard">{{session[text1]}}</h1>
    <h1 id="gameInstructions">{{session[text2]}}</h1>
  </div>
  
  <div id="moving">
    <span class="dot y1 yellow"></span>
    <span class="dot y2 yellow"></span>
    <span class="dot y3 yellow"></span>
    <span class="dot y4 yellow"></span>
    <span class="dot g1 green"></span>
    <span class="dot g2 green"></span>
    <span class="dot g3 green"></span>
    <span class="dot g4 green"></span>
    <span class="dot b1 blue"></span>
    <span class="dot b2 blue"></span>
    <span class="dot b3 blue"></span>
    <span class="dot b4 blue"></span>
    <span class="dot r1 red"></span>
    <span class="dot r2 red"></span>
    <span class="dot r3 red"></span>
    <span class="dot r4 red"></span>  
  </div>
  <br>
  {% else %}
  <p>Please login before you play.</p>
  {% endif %}

  
</div>
{% endblock %}
